module/src/test/munit/AuthorizationFilterTestCase.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:munit="http://www.mulesoft.org/schema/mule/munit"
      xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools"
      xmlns:spring="http://www.mulesoft.org/schema/mule/spring"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
		http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd
		http://www.mulesoft.org/schema/mule/munit-tools  http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd
        http://www.mulesoft.org/schema/mule/spring http://www.mulesoft.org/schema/mule/spring/current/mule-spring.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <munit:config name="AuthorizationFilterTestCase.xml" />

    <spring:config name="springConfig" files="beans.xml" />

    <spring:security-manager>
        <spring:delegate-security-provider
                name="memory-provider"
                delegate-ref="authenticationManager" />
    </spring:security-manager>

    <http:listener-config name="HTTP_Listener_config">
        <http:listener-connection host="localhost" port="8081" />
    </http:listener-config>

    <http:request-config name="request_to_basic_path">
        <http:request-connection host="localhost" port="8081"/>
    </http:request-config>


    <!-- Login with admin:admin -->
    <munit:test name="whenCorrectCredentialsAndRole_thenAuthorizeSuccessful">
        <munit:enable-flow-sources>
            <munit:enable-flow-source value="basic" />
        </munit:enable-flow-sources>

        <munit:execution >
            <logger level="INFO" message="#['Start']"/>

            <http:request method="GET" config-ref="request_to_basic_path" path="/" >
                <http:headers ><![CDATA[#[
                    output application/java
                    ---
                    {
                        "Authorization" : "Basic YWRtaW46YWRtaW4="
                    }]]]>
                </http:headers>
            </http:request>
        </munit:execution>
        <munit:validation>
            <!-- no errors then login successful -->
            <munit-tools:assert-equals actual="#[payload]" expected="#['Success']"/>
        </munit:validation>
    </munit:test>

    <!-- Login with anon:anon -->
    <munit:test name="whenCorrectCredentialsButUnauthorizedRole_thenThrowException" expectedErrorType="HTTP:INTERNAL_SERVER_ERROR">
        <munit:enable-flow-sources>
            <munit:enable-flow-source value="basic" />
        </munit:enable-flow-sources>

        <munit:execution >
            <logger level="INFO" message="#['Start']"/>

            <http:request method="GET" config-ref="request_to_basic_path" path="/" >
                <http:headers ><![CDATA[#[
                    output application/java
                    ---
                    {
                        "Authorization" : "Basic YW5vbjphbm9u"
                    }]]]>
                </http:headers>
            </http:request>
        </munit:execution>
    </munit:test>

    <flow name="basic">
        <http:listener config-ref="HTTP_Listener_config" path="/">
            <http:response>
                <http:body ><![CDATA[#[
                    output text/plain
                    ---
                    "Success"]]]>
                </http:body>
            </http:response>
            <http:error-response>
                <http:body ><![CDATA[#[
                    output text/plain
                    ---
                    "Error"]]]>
                </http:body>
            </http:error-response>
        </http:listener>

        <http:basic-security-filter realm="mule" />
        <spring:authorization-filter requiredAuthorities="ROLE_ADMIN" />

        <logger level="INFO" message="#['End flow']"/>
    </flow>
</mule>
