module/src/test/munit/PlaceholdersTestCases.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:munit="http://www.mulesoft.org/schema/mule/munit"
      xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools"
      xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd
		http://www.mulesoft.org/schema/mule/munit-tools  http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd
http://www.mulesoft.org/schema/mule/spring http://www.mulesoft.org/schema/mule/spring/current/mule-spring.xsd"
      xmlns:spring="http://www.mulesoft.org/schema/mule/spring">
	<munit:config name="PlaceholdersTestCases.xml"/>

  <configuration-properties file="placeholders/properties.yaml"/>

  <global-property name="propertyA" value="propertyAValue"/>

  <spring:config name="springConfigForPlaceholderTests" files="placeholders/placeholders-beans.xml"/>

  <flow name="dummy-placeholders-flow">
    <logger level="INFO" doc:name="Logger"/>
  </flow>

  <munit:test name="ArtifactPropertiesCanBeUsedInSpringBeans" description="artifactPropertiesCanBeUsedInSpringBeans">
		<munit:execution >
			<flow-ref doc:name="Flow-ref to placeholders-beans-flow" name="dummy-placeholders-flow"/>
		</munit:execution>
		<munit:validation >
			<munit-tools:assert-that doc:name="Assert bean field 1" is='#[MunitTools::equalToIgnoringCase("propertyAValue")]' expression="#[app.registry.orange.brand]"/>
			<munit-tools:assert-that doc:name="Assert bean field 2" expression="#[app.registry.orange.segments]" is='#[MunitTools::equalTo(12)]' />
		</munit:validation>
	</munit:test>
	<munit:test name="SpringCanUseItOwnPlaceholder" description="SpringCanUseItOwnPlaceholder" >
		<munit:execution >
			<flow-ref doc:name="Flow-ref to placeholders-beans-flow" name="dummy-placeholders-flow" />
		</munit:execution>
		<munit:validation >
			<munit-tools:assert-that doc:name="Assert spring property A" expression="#[app.registry.orange.mapProperties.springPropertyA]" is='#[MunitTools::equalToIgnoringCase("springPropertyAValue")]' />
			<munit-tools:assert-that doc:name="Assert spring property B" expression="#[app.registry.orange.mapProperties.springPropertyB]" is='#[MunitTools::equalToIgnoringCase("springPropertyBValue")]' />
		</munit:validation>
	</munit:test>
	<munit:test name="SpelCanBeUsedInSpringBeans" description="SpelCanBeUsedInSpringBeans" >
		<munit:execution >
			<flow-ref doc:name="Flow-ref to placeholders-beans-flow" name="dummy-placeholders-flow" />
		</munit:execution>
		<munit:validation >
			<munit-tools:assert-that doc:name="Assert bean field 1" expression="#[app.registry.grapefruit.brand]" is='#[MunitTools::equalToIgnoringCase("123")]' />
			<munit-tools:assert-that doc:name="Assert bean field 2" expression="#[app.registry.grapefruit.radius]" is='#[MunitTools::equalTo(1.2)]' />
			<munit-tools:assert-that doc:name="Assert bean field 3" expression="#[app.registry.grapefruit.segments]" is='#[MunitTools::equalTo(3)]' />
			<munit-tools:assert-that doc:name="Assert bean field 4" expression="#[app.registry.grapefruit.red]" is='#[MunitTools::equalTo(true)]' />
		</munit:validation>
	</munit:test>

</mule>
