module/src/test/munit/SecurityHandlerTestCases.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:java="http://www.mulesoft.org/schema/mule/java"
      xmlns:munit="http://www.mulesoft.org/schema/mule/munit"
      xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools"
      xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd
		http://www.mulesoft.org/schema/mule/munit-tools  http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd
http://www.mulesoft.org/schema/mule/spring http://www.mulesoft.org/schema/mule/spring/current/mule-spring.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd"
      xmlns:spring="http://www.mulesoft.org/schema/mule/spring">
	<munit:config name="SecurityHandlerTestCases.xml" />

  <spring:config name="springConfig" files="security/spring-security-namespace-config-beans.xml"/>

  <spring:security-manager>
    <spring:delegate-security-provider name="memory-dao" delegate-ref="authenticationManager"/>
  </spring:security-manager>

  <flow name="dummy-security-flow">
    <logger level="INFO" doc:name="Logger"/>
  </flow>

  <munit:test name="SecurityProviderIsTheOneExpected" description="SecurityProviderIsTheOneExpected">
		<munit:execution >
			<flow-ref doc:name="Flow-ref to dummy-security-flow" name="dummy-security-flow"/>
		</munit:execution>
		<munit:validation >
      <java:validate-type doc:name="Validate type of security provider"
                          class="org.mule.extension.spring.api.security.SpringProviderAdapter"
                          instance="#[app.registry.'_muleSecurityManager'.providers[0]]" />
      <munit-tools:assert doc:name="Validate name of securityProvider">
        <munit-tools:that ><![CDATA[#[import * from dw::test::Asserts
 ---
app.registry.'_muleSecurityManager'.providers[0].name must equalTo('memoryDao')]]]></munit-tools:that>
      </munit-tools:assert>
		</munit:validation>
	</munit:test>

</mule>
