module/src/test/munit/WildcardsScanTestCases.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:munit="http://www.mulesoft.org/schema/mule/munit"
      xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools"
      xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd
		http://www.mulesoft.org/schema/mule/munit-tools  http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd
http://www.mulesoft.org/schema/mule/spring http://www.mulesoft.org/schema/mule/spring/current/mule-spring.xsd"
      xmlns:spring="http://www.mulesoft.org/schema/mule/spring">
	<munit:config name="WildcardsTestCases.xml" />

  <spring:config files="wildcardScan/spring-scan-wildcards-config-beans.xml" name="wildcardsScanSpringConfig"/>

  <flow name="dummy-wildcardsScan-flow">
    <logger level="INFO" doc:name="Logger"/>
  </flow>

  <munit:test name="ScanPackagesWithWildcard" description="Test">
		<munit:execution >
			<flow-ref doc:name="Flow-ref to dummy-wildcardsScan-flow" name="dummy-wildcardsScan-flow"/>
		</munit:execution>
		<munit:validation >
			<munit-tools:assert-that doc:name="Assert bean 1 is not null" is="#[MunitTools::notNullValue()]" expression="#[app.registry.scanObject]" />
			<munit-tools:assert-that doc:name="Assert bean 2 is not null" expression="#[app.registry.scanInnerObject]" is="#[MunitTools::notNullValue()]" />
			<munit-tools:assert-that doc:name="Assert bean 2 is not null" expression="#[app.registry.scanObject.innerObject]" is="#[MunitTools::notNullValue()]" />
		</munit:validation>
	</munit:test>

</mule>
